/* Main Menu */
.site-navigation {
  font-weight: 600;

  .current-menu-item{
    background-color: #ccc;
  } 

  a {
    color: var(--bs-black);
    padding: 1rem 1.4rem;
  }
  
}

ul#primary-menu, ul#primary-menu ul {
  list-style: none;
}

.site-header__logo {
  width: 270px;
}