// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "./bootstrap/scss/bootstrap";

// Then add additional custom code here



/**
* Blog page
**/

.rccg-blog .form label {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 500
}

.rccg-blog .form .form-group {
  margin-bottom: 35px
}

.rccg-blog .form-tip,.rccg-blog .form-tip a {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.53;
  color: var(--color-dark-1)
}

.rccg-blog .form-tip a:hover {
  color: var(--color-primary-1)
}

.rccg-blog .form input[type=color],.rccg-blog .form input[type=date],.rccg-blog .form input[type=email],.rccg-blog .form input[type=number],.rccg-blog .form input[type=password],.rccg-blog .form input[type=search],.rccg-blog .form input[type=tel],.rccg-blog .form input[type=text],.rccg-blog .form input[type=url],.rccg-blog .form select,.rccg-blog .form textarea {
  color: var(--color-dark-1);
  border-color: var(--color-dark-1)
}

.rccg-blog .form select:not([multiple]) {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="9px" height="5px"><path fill-rule="evenodd" fill="#343d55" d="M8.886,0.631 L8.336,0.117 C8.263,0.049 8.178,0.015 8.083,0.015 C7.988,0.015 7.903,0.049 7.830,0.117 L4.506,3.155 L1.183,0.117 C1.109,0.049 1.025,0.015 0.930,0.015 C0.834,0.015 0.750,0.049 0.677,0.117 L0.127,0.631 C0.053,0.699 0.017,0.778 0.017,0.867 C0.017,0.956 0.053,1.035 0.127,1.103 L4.253,4.892 C4.327,4.960 4.411,4.994 4.506,4.994 C4.602,4.994 4.686,4.960 4.759,4.892 L8.886,1.103 C8.959,1.035 8.996,0.956 8.996,0.867 C8.996,0.778 8.959,0.699 8.886,0.631 L8.886,0.631 Z"/></svg>')
}

.rccg-blog .form input[type=color]:focus,.rccg-blog .form input[type=color]:hover,.rccg-blog .form input[type=date]:focus,.rccg-blog .form input[type=date]:hover,.rccg-blog .form input[type=email]:focus,.rccg-blog .form input[type=email]:hover,.rccg-blog .form input[type=number]:focus,.rccg-blog .form input[type=number]:hover,.rccg-blog .form input[type=password]:focus,.rccg-blog .form input[type=password]:hover,.rccg-blog .form input[type=search]:focus,.rccg-blog .form input[type=search]:hover,.rccg-blog .form input[type=tel]:focus,.rccg-blog .form input[type=tel]:hover,.rccg-blog .form input[type=text]:focus,.rccg-blog .form input[type=text]:hover,.rccg-blog .form input[type=url]:focus,.rccg-blog .form input[type=url]:hover,.rccg-blog .form select:focus,.rccg-blog .form select:hover,.rccg-blog .form textarea:focus,.rccg-blog .form textarea:hover {
  color: var(--color-dark-1);
  border-color: var(--color-dark-1)
}

.rccg-blog .form input[type=color]::placeholder,.rccg-blog .form input[type=date]::placeholder,.rccg-blog .form input[type=email]::placeholder,.rccg-blog .form input[type=number]::placeholder,.rccg-blog .form input[type=password]::placeholder,.rccg-blog .form input[type=search]::placeholder,.rccg-blog .form input[type=tel]::placeholder,.rccg-blog .form input[type=text]::placeholder,.rccg-blog .form input[type=url]::placeholder,.rccg-blog .form select::placeholder,.rccg-blog .form textarea::placeholder {
  color: var(--color-gray-1)
}

.rccg-blog .form input[type=color]:hover::placeholder,.rccg-blog .form input[type=date]:hover::placeholder,.rccg-blog .form input[type=email]:hover::placeholder,.rccg-blog .form input[type=number]:hover::placeholder,.rccg-blog .form input[type=password]:hover::placeholder,.rccg-blog .form input[type=search]:hover::placeholder,.rccg-blog .form input[type=tel]:hover::placeholder,.rccg-blog .form input[type=text]:hover::placeholder,.rccg-blog .form input[type=url]:hover::placeholder,.rccg-blog .form select:hover::placeholder,.rccg-blog .form textarea:hover::placeholder {
  color: var(--color-gray-1)
}

.rccg-blog .form input[type=color].input-md,.rccg-blog .form input[type=date].input-md,.rccg-blog .form input[type=email].input-md,.rccg-blog .form input[type=number].input-md,.rccg-blog .form input[type=password].input-md,.rccg-blog .form input[type=search].input-md,.rccg-blog .form input[type=tel].input-md,.rccg-blog .form input[type=text].input-md,.rccg-blog .form input[type=url].input-md,.rccg-blog .form select.input-md {
  height: 56px;
  font-size: 18px
}

.rccg-blog .form textarea.input-md {
  font-size: 18px
}

.rccg-blog .form input[type=color].input-lg,.rccg-blog .form input[type=date].input-lg,.rccg-blog .form input[type=email].input-lg,.rccg-blog .form input[type=number].input-lg,.rccg-blog .form input[type=password].input-lg,.rccg-blog .form input[type=search].input-lg,.rccg-blog .form input[type=tel].input-lg,.rccg-blog .form input[type=text].input-lg,.rccg-blog .form input[type=url].input-lg,.rccg-blog .form select.input-lg {
  height: 66px;
  line-height: 66px;
  font-size: 22px
}

.rccg-blog .form textarea.input-lg {
  font-size: 22px
}

.rccg-blog .light-content .form input[type=color],.rccg-blog .light-content .form input[type=date],.rccg-blog .light-content .form input[type=email],.rccg-blog .light-content .form input[type=number],.rccg-blog .light-content .form input[type=password],.rccg-blog .light-content .form input[type=search],.rccg-blog .light-content .form input[type=tel],.rccg-blog .light-content .form input[type=text],.rccg-blog .light-content .form input[type=url],.rccg-blog .light-content .form select,.rccg-blog .light-content .form textarea {
  color: #fff;
  border-color: hsla(0,0%,100%,.5)
}

.rccg-blog .light-content input[type=color]:hover,.rccg-blog .light-content input[type=date]:hover,.rccg-blog .light-content input[type=email]:hover,.rccg-blog .light-content input[type=number]:hover,.rccg-blog .light-content input[type=password]:hover,.rccg-blog .light-content input[type=search]:hover,.rccg-blog .light-content input[type=tel]:hover,.rccg-blog .light-content input[type=text]:hover,.rccg-blog .light-content input[type=url]:hover,.rccg-blog .light-content select:hover,.rccg-blog .light-content textarea:hover {
  border-color: hsla(0,0%,100%,.75)
}

.rccg-blog .light-content input[type=color]:focus,.rccg-blog .light-content input[type=date]:focus,.rccg-blog .light-content input[type=email]:focus,.rccg-blog .light-content input[type=number]:focus,.rccg-blog .light-content input[type=password]:focus,.rccg-blog .light-content input[type=search]:focus,.rccg-blog .light-content input[type=tel]:focus,.rccg-blog .light-content input[type=text]:focus,.rccg-blog .light-content input[type=url]:focus,.rccg-blog .light-content select:focus,.rccg-blog .light-content textarea:focus {
  border-color: #fff
}

.rccg-blog .icon-info {
  top: .07em
}

.rccg-blog .form input.newsletter-field::placeholder,.rccg-blog .form input.newsletter-field:hover::placeholder {
  color: var(--color-dark-1)
}

.rccg-blog .light-content .form input.newsletter-field,.rccg-blog .light-content .form input.newsletter-field:hover {
  color: #fff!important
}

.rccg-blog .btn-mod,.rccg-blog a.btn-mod {
  font-weight: 500
}

.rccg-blog .btn-mod.btn-border-c {
  border-color: var(--color-primary-light-1-a)
}

.rccg-blog .btn-mod.btn-border-c:focus,.rccg-blog .btn-mod.btn-border-c:hover {
  background: transparent;
  color: var(--color-primary-1);
  border-color: var(--color-primary-light-1-a)
}

.rccg-blog .btn-mod.btn-small {
  padding: 10px 22px;
  font-size: 16px;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 0
}

.rccg-blog .btn-mod.btn-medium {
  padding: 13px 22px;
  font-size: 19px;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 0
}

.rccg-blog .btn-mod.btn-large {
  padding: 20px 40px;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.1;
  text-transform: none;
  letter-spacing: 0
}

.rccg-blog .big-icon {
  color: var(--color-primary-1)
}

.rccg-blog .hs-title-1,.rccg-blog .hs-title-9 {
  letter-spacing: -.037em!important
}

.rccg-blog .scroll-down-1-icon i,.rccg-blog .scroll-down-1-icon img,.rccg-blog .scroll-down-1-icon svg,.rccg-blog .scroll-down-1-icon:before {
  opacity: .7
}

.rccg-blog .scroll-down-1-text {
  font-weight: 500;
  opacity: .7;
  transition: opacity .4s ease,transform .4s var(--ease-elastic-2)
}

.rccg-blog .section-caption-fancy {
  padding: 9px 12px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: .1em;
  background-image: linear-gradient(45deg,var(--color-primary-light-1) 0,transparent 100%)
}

.rccg-blog .section-title {
  font-size: 56px!important;
  font-weight: 500!important;
  line-height: 1.25!important;
  letter-spacing: -.017em!important
}

.rccg-blog .section-title-small {
  font-size: 42px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -.02em
}

.rccg-blog .section-title-tiny {
  font-size: 18px!important;
  font-weight: 500!important;
  letter-spacing: normal!important
}

.rccg-blog .section-descr {
  color: var(--color-dark-1)!important
}

.rccg-blog .light-content .section-descr,.rccg-blog .section-descr {
  font-size: 29px!important;
  font-weight: 400!important;
  line-height: 1.448!important;
  letter-spacing: -.005em!important
}

.rccg-blog .light-content .section-descr {
  color: #fff!important
}

.rccg-blog .section-descr-medium {
  font-size: 29px!important;
  font-weight: 400!important;
  line-height: 1.448!important;
  letter-spacing: -.0075em!important
}
