
@font-face {
  font-family: Satoshi;
  src: url(../assets/webfonts/satoshi/Satoshi-Regular.woff2) format("woff2"),url(../assets/webfonts/satoshi/Satoshi-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Satoshi;
  src: url(../assets/webfonts/satoshi/Satoshi-Italic.woff2) format("woff2"),url(../assets/webfonts/satoshi/Satoshi-Italic.woff) format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap
}

@font-face {
  font-family: Satoshi;
  src: url(../assets/webfonts/satoshi/Satoshi-Medium.woff2) format("woff2"),url(../assets/webfonts/satoshi/Satoshi-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

// Inlcude custom variables default overrides here

$primary: rgb(127, 24, 127);

// $color-primary-1: #119d60;
// $color-primary-1-a: #1bb170;
// $color-primary-light-1: #d4f5e7;
// $color-primary-light-1-a: #c3e6d7;
// $color-primary-2: #eaa92b;
// $color-primary-light-2: #fff4e0;
// $color-primary-3: #ca346b;
// $color-primary-light-3: #ffdfeb;
// $color-primary-4: #19c4c4;
// $color-primary-light-4: #d1ffff;

$font-family-sans-serif: "Satoshi", sans-serif, "DM Sans", sans-serif, system-ui, -apple-system;
$font-size-base:  1rem;
$font-weight-base:   400;
$line-height-base:   1.67;

$theme-colors: (
  "primary": $primary
);

// Create your own map
$custom-color: (
  "icon-background": rgba(127, 24, 127, 0.2),
  "color-primary-1": #119d60,
  "color-primary-1-a": #1bb170,
  "color-primary-light-1": #d4f5e7,
  "color-primary-light-1-a":  #c3e6d7,
  "color-primary-2": #eaa92b,
  "color-primary-light-2":  #fff4e0,
  "color-primary-3": #ca346b,
  "color-primary-light-3": #ffdfeb,
  "color-primary-4": #19c4c4,
  "color-primary-light-4": #d1ffff,
);


// Merge maps
//$theme-colors: map-merge($theme-colors, $custom-color);


// Include any default variable overrides here (though functions won't be available)

@import "./bootstrap/scss/bootstrap";

// Then add additional custom code here



.rccbig-blog
{    
  --gradient-primary-1-b: linear-gradient(45deg, var(--color-primary-4) 0%, var(--color-primary-3) 33%, var(--color-primary-2) 67%, var(--color-primary-1) 100%);
  --gradient-primary-1-c: linear-gradient(0deg, var(--color-primary-4) 0%, var(--color-primary-3) 33%, var(--color-primary-2) 67%, var(--color-primary-1) 100%);
  --gradient-gray-light-1: linear-gradient(0deg, #f5f5f5, #fff);
  --gradient-gray-light-2: linear-gradient(0deg, #fff, #f5f5f5);
  --gradient-dark-alpha-1: linear-gradient(90deg, var(--color-dark-1) 40%, transparent 87%);
  --gradient-dark-alpha-2: linear-gradient(90deg, transparent 13%, var(--color-dark-1) 60%);
  --gradient-primary-alpha-1: linear-gradient(90deg, var(--color-primary-1) 40%, transparent 87%);
  --gradient-primary-alpha-2: linear-gradient(90deg, transparent 13%, var(--color-primary-1) 60%);
  --font-global: "Satoshi", sans-serif;
  --font-alt: "Satoshi", sans-serif;
  --section-padding-y: 140px;
  --font-global: "Satoshi", sans-serif;
  --font-alt: "Satoshi", sans-serif;
  --section-padding-y: 140px;
  --border-radius-default: 12px;
  --box-shadow-block: 0px 10px 30px 0px rgba(0, 0, 0, .09);
  --box-shadow-block-strong: 0px 12px 37px 0px rgba(0, 0, 0, .175);
  //color: var($color-dark-1);
  font-family: var(--font-global);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.67;
}

/**
* Blog page
**/

.bg-image, .page-section, .small-section {
  width: 100%;
  display: block;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  padding-top: var(--section-padding-y);
  padding-bottom: var(--section-padding-y);
}

.rccgbig-blog .form input[type=search].wp-block-search__input, .rccgbig-blog .form input[type=color].input-lg, .rccgbig-blog .form input[type=date].input-lg, .rccgbig-blog .form input[type=email].input-lg, .rccgbig-blog .form input[type=number].input-lg, .rccgbig-blog .form input[type=password].input-lg, .rccgbig-blog .form input[type=search].input-lg, .rccgbig-blog .form input[type=tel].input-lg, .rccgbig-blog .form input[type=text].input-lg, .rccgbig-blog .form input[type=url].input-lg, .rccgbig-blog .form select.input-lg {
    height: 66px;
    line-height: 66px;
    font-size: 22px;
}

.rccgbig-blog .h1, .rccgbig-blog .h2, .rccgbig-blog .h3, .rccgbig-blog .h4, .rccgbig-blog .h5, .rccgbig-blog .h6, .rccgbig-blog h1, .rccgbig-blog h2, .rccgbig-blog h3, .rccgbig-blog h4, .rccgbig-blog h5, .rccgbig-blog h6 {
  letter-spacing: -.005em;
}

blockquote.wp-block-quote {
  @extend blockquote;
  margin-bottom: 1.75em;
}

blockquote.wp-block-quote p {
  font-size: 120%;
  position: relative;
  margin-bottom: .7em;
  font-family: $font-family-sans-serif;
  font-style: normal;
  letter-spacing: -.01em;
  line-height: 1.5;
}

blockquote.wp-block-quote p em {
  font-style: normal;
}

blockquote.wp-block-quote p strong {
  font-size: 18px;
  font-weight: 400;
}

.comment-meta {
  margin: 0 0 5px;
  font-size: 15px;
}

.comment-meta .comment-author {
  display: inline-block;
  margin-right: 10px;
  font-weight: 500;
}

.comment-meta .comment-author a {
  color: var(--color-gray-1);
}

.comment-meta .comment-metadata time {
  color: var(--color-dark-4);
}

.comment-meta .reply a {
  color: var(--color-gray-1);
  text-decoration: none;
  transition: var(--transition-default);
}

.comment-list .comment-body {
  padding-top: 30px !important;
  border-top: 1px dotted var(--color-gray-light-5);
  color: var(--color-dark-4);
  font-size: 17px;
  overflow: hidden;
}

.rccgbig-blog .form input[type=color], .rccgbig-blog .form input[type=date], .rccgbig-blog .form input[type=email], .rccgbig-blog .form input[type=number], .rccgbig-blog .form input[type=password], .rccgbig-blog .form input[type=search], .rccgbig-blog .form input[type=tel], .rccgbig-blog .form input[type=text], .rccgbig-blog .form input[type=url], .rccgbig-blog .form select, .rccgbig-blog .form textarea {
  color: var(--color-dark-1);
  border-color: var(--color-dark-1);
}

.form textarea#comment {
  padding: 8px 15px;
  font-size: 15px;
}

.rccgbig-blog .form textarea.comment {
  font-size: 18px;
}


.rccgbig-blog #commentform .form-submit input[type=submit] {
  padding: 13px 22px;
  font-size: 19px;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 0;
  border-radius: var(--border-radius-default);
  position: relative;
  overflow: hidden;
  isolation: isolate;
  transform: translateZ(0);
  color: #fff;
  background: var(--color-primary-1);
}