// Inlcude custom variables default overrides here

$primary: rgb(127, 24, 127);

// $color-primary-1: #119d60;
// $color-primary-1-a: #1bb170;
// $color-primary-light-1: #d4f5e7;
// $color-primary-light-1-a: #c3e6d7;
// $color-primary-2: #eaa92b;
// $color-primary-light-2: #fff4e0;
// $color-primary-3: #ca346b;
// $color-primary-light-3: #ffdfeb;
// $color-primary-4: #19c4c4;
// $color-primary-light-4: #d1ffff;



$theme-colors: (
  "primary": $primary
);

// Create your own map
$custom-color: (
  "icon-background": rgba(127, 24, 127, 0.2),
  "color-primary-1": #119d60,
  "color-primary-1-a": #1bb170,
  "color-primary-light-1": #d4f5e7,
  "color-primary-light-1-a":  #c3e6d7,
  "color-primary-2": #eaa92b,
  "color-primary-light-2":  #fff4e0,
  "color-primary-3": #ca346b,
  "color-primary-light-3": #ffdfeb,
  "color-primary-4": #19c4c4,
  "color-primary-light-4": #d1ffff,
);


// Merge maps
//$theme-colors: map-merge($theme-colors, $custom-color);


// Include any default variable overrides here (though functions won't be available)

@import "./bootstrap/scss/bootstrap";

// Then add additional custom code here


.rccbig-blog
{
  --font-global: "Satoshi", sans-serif;
  --font-alt: "Satoshi", sans-serif;
  --section-padding-y: 140px;
  //color: var($color-dark-1);
  font-family: var(--font-global);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.67;
}

/**
* Blog page
**/
